<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/no_waiting_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.No_Waiting_New"
        tools:targetApi="31">
        <activity
            android:name=".Test_Db"
            android:exported="false" />
        <activity
            android:name=".Organization_Screens.Org_DashBoard"
            android:exported="false" />
        <activity
            android:name=".Organization_Screens.Org_Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Organization_Screens.Org_Register"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Waiting_New.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".BC_Screens.BC_DashBoard_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BC_Screens.BC_Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Successful_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Display_TokenNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home_Page"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Waiting_New">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>